.nav-bar{
}
.blurb{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.fa-github{
    padding: 40px;
}
.fa-linkedin{
  padding: 40px;
}
.fa-instgram{
  padding: 40px;
}
.cd-section{
  height: 100vh;
}

[data-animation="scaleDown"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="scaleDown"] .cd-section:first-of-type {
  background-image: linear-gradient(to bottom, #880e4f, #d81b60 100%);
}
[data-animation="scaleDown"] .cd-section:nth-of-type(2) {
  background-image: linear-gradient(to bottom, #880e4f, #d81b60 100%);
}
[data-animation="scaleDown"] .cd-section:nth-of-type(3) {
  background-image: linear-gradient(to bottom, #880e4f, #d81b60 100%);
}
[data-animation="scaleDown"] .cd-section:nth-of-type(4) {
  background-image: linear-gradient(to bottom, #880e4f, #d81b60 100%);
}
[data-animation="scaleDown"] .cd-section:nth-of-type(5) {
  background-image: linear-gradient(to bottom, #880e4f, #d81b60 100%);
}
body{
  /*background-color: #880e4f;*/
  /*background-attachment: fixed;*/
  /*text-align: center;*/
  /*padding: 70px 0;*/
  /*height: auto;*/
  /*display: flex;
  flex-direction: column;*/
  /*min-width: 100px;*/
}
img{
  float: left;
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;

}
p{
text-align: center;
display: inline;
font-family: 'Athiti', sans-serif;
padding: 10px;
color: #ffffff;
flex-wrap: wrap;
}
a{
  color:#ffffff;
}
h2{
  color:#ffffff;
  text-align: center;
  /*font-family: 'Libre Barcode 128 Text', cursive;*/
  font-family: 'Megrim', cursive;
  padding: 70px 0;
  font-size: 70px;
  border: 40px;
  /*display: flex;
  align-items: baseline;*/
  margin-top: 100px;
}
h3{
  color: #ffffff;
  text-decoration: underline;
  padding: 10px;
}
h4{
  text-align: center;
  display: inline;
  font-family: 'Megrim', cursive;
  padding: 10px;
}
footer{

}
